{% load rules %}
{% load sass_tags %}
{% load registry_tags %}
{% load crispy_forms_tags %}
{% has_perm 'registry.prescriptions' hn_visitor hn_owner as can_add %}
{% has_perm 'registry.medcon' hn_visitor hn_owner as can_mc %}
<form id="form">
    <label>Height:</label><input data-field="height" class="editable" type="text" value="{{ hn_owner.height }}"/><br>
    <label>Weight:</label><input data-field="weight" class="editable" type="text" value="{{ hn_owner.weight }}"/><br>
    <label>Blood Type:</label><input data-field="blood_type" class="editable" type="text"
                                     value="{% labelify hn_owner.blood_type 'blood' %}"/><br>
</form>

<table class="hn-table">
    <thead>
    <tr>
        <th id="theader" colspan="2">
            <div>
                <p class="hn-table-header" id="patientTitle">Medical Conditions</p>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for mc in medical_conditions %}
        <tr>
            <td>{{ mc.name }}</td>
            <td>{{ mc.desc }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if can_mc %}
    <a href="{% url 'registry:mc_add' hn_owner.uuid %}">
        <button>Add Medical Condition</button>
    </a>
{% endif %}
<br><br>
<table class="hn-table">
    <tr>
        <th class="hn-table-header" id="theader" colspan="4">
            <div>
                <p id="patientTitle">Medical History</p>
            </div>
        </th>
    </tr>
    <tr>
        <th class="hn-table-header" colspan="1">
            Admitted By
        </th>
        <th class="hn-table-header" colspan="1">
            Admitted To
        </th>
        <th class="hn-table-header" colspan="1">
            Reason
        </th>
        <th class="hn-table-header" colspan="1">
            Duration of Stay
        </th>
    </tr>
    </thead>
    <tbody>
        {% for mh in medical_history %}
            {% with mh.admission_details as admission %}
            <tr>
                <td>{{ admission.doctor|stringify }}</td>
                <td>{{ admission.hospital|stringify }}</td>
                <td>{% labelify admission.reason "AdmitOptions" %}</td>
                <td>{{ admission.admission_time.start_time|date:'F j, Y P' }}
                    - {{ admission.admission_time.end_time|date:'F j, Y P' }}<br/> {{ admission.admission_time.duration.days }}
                    days
                </td>
            </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
<br><br>
<table class="hn-table" id="prestable">
    <thead>
    <tr>
        <th class="hn-table-header" colspan="{% if can_add %}7{% else %}6{% endif %}">
            <div class="presHead">Prescriptions</div>
        </th>
    </tr>
    <tr>
        <th class="hn-table-header" colspan="1">
            <div class="presHead">Signer</div>
        </th>
        <th class="hn-table-header" colspan="1">
            <div class="presHead">Drug</div>
        </th>
        <th class="hn-table-header" colspan="1">
            <div class="presHead">Count</div>
        </th>
        <th class="hn-table-header" colspan="1">
            <div class="presHead">Amount</div>
        </th>
        <th class="hn-table-header" colspan="1">
            <div class="presHead">Refills</div>
        </th>
        <th class="hn-table-header" colspan="1">
            <div class="presHead">End Date</div>
        </th>
        {% if can_add %}
            <th class="hn-table-header" colspan="1">
                <div class="presHead">Delete</div>
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for rx in rxs %}
        <tr>
            <td>
                <div>{{ rx.doctor|stringify }}</div>
            </td>
            <td>
                <div>{{ rx.drug }}</div>
            </td>
            <td>
                <div>{{ rx.count }}</div>
            </td>
            <td>
                <div>{{ rx.amount }}</div>
            </td>
            <td>
                <div>{{ rx.refills }}</div>
            </td>
            <td>
                <div>{{ rx.time_range.end_time }}</div>
            </td>
            {% if can_add %}
                <td>

                    <div><a href="{% url 'registry:rx_delete' rx.pk %}">
                        <button>Delete</button>
                    </a></div>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<div id="presbuttons">
    {% if can_add %}
        <a href="{% url 'registry:rx_create' hn_owner.uuid %}">
            <button>Add Prescription</button>
        </a>
    {% endif %}
</div>
{% test_rule 'is_doctor' hn_visitor as visiting_doctor %}
<h3>{% if not visiting_doctor %}Released {% endif %}Medical Tests</h3>
{% if medical_tests %}

    {% for test in medical_tests %}
        <div>
            <div class="panel-group">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#medical-test-{{ forloop.counter }}">Medical Test conducted
                            by {{ test.sign_off_user|stringify }} for {{ test.patient|stringify }} on
                            {{ test.timestamp|date:'F j, Y \a\t P' }}{% if test.released %} -- RELEASED{% endif %}</a>
                    </h4>
                </div>
                <div id="medical-test-{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% with test.results as res %}
                            {% for img in res.attachment_set.all %}
                                <img src="{{ img.file.url }}"/>
                            {% endfor %}
                            <h4>{{ res.timestamp }} by {{ res.author }}</h4>
                            <p>{{ res.content }}</p>
                        {% endwith %}
                    </div>
                    <div class="panel-footer">
                        {% if visiting_doctor and not test.released %}
                            <a id="release-test-btn" data-test-id="{{ test.pk }}" class="btn-primary btn">Release Test
                                to {{ test.patient|stringify }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}