{% extends 'registry/base.html' %}
{% load staticfiles %}

{% block title %}HealthNet | {{ administrator.first_name }}{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% static 'registry/css/admin.css' %}"/>
{% endblock %}

{% block jsimport %}
<script type="text/javascript" src="{% static 'registry/js/admin.js' %}"></script>
{% endblock %}

{% block content %}
 <div class="Administrator Tabs">
    <h1>Administrator Profile<br></h1>
    <u1 class = "tab-links">
        <li class = "active"><a href = "personal">Personal</a></li>
        <li><a href="logs_stats">Logs/Stats</a></li>
        <li><a href="add_staff">Add Staff</a></li>
        <li><a href="add_patient">Add Patient</a></li>
        <li><a href="inbox">Inbox</a></li>
    </u1>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>"Blank Space"
                Nice to meet you, where you been?
                I could show you incredible things
                Magic, madness, heaven, sin
                Saw you there and I thought
                Oh my God, look at that face
                You look like my next mistake
                Love's a game, wanna play?

                New money, suit and tie
                I can read you like a magazine
                Ain't it funny, rumors fly
                And I know you heard about me
                So hey, let's be friends
                I'm dying to see how this one ends
                Grab your passport and my hand
                I can make the bad guys good for a weekend

                So it's gonna be forever
                Or it's gonna go down in flames
                You can tell me when it's over
                If the high was worth the pain
                Got a long list of ex-lovers
                They'll tell you I'm insane
                'Cause you know I love the players
                And you love the game

                'Cause we're young and we're reckless
                We'll take this way too far
                It'll leave you breathless
                Or with a nasty scar
                Got a long list of ex-lovers
                They'll tell you I'm insane
                But I've got a blank space, baby
                And I'll write your name

                Cherry lips, crystal skies
                I could show you incredible things
                Stolen kisses, pretty lies
                You're the King, baby, I'm your Queen
                Find out what you want
                Be that girl for a month
                Wait, the worst is yet to come, oh no

                Screaming, crying, perfect storms
                I can make all the tables turn
                Rose garden filled with thorns
                Keep you second guessing like
                "Oh my God, who is she?"
                I get drunk on jealousy
                But you'll come back each time you leave
                'Cause, darling, I'm a nightmare dressed like a daydream

                So it's gonna be forever
                Or it's gonna go down in flames
                You can tell me when it's over
                If the high was worth the pain
                Got a long list of ex-lovers
                They'll tell you I'm insane
                'Cause you know I love the players
                And you love the game

                'Cause we're young and we're reckless
                We'll take this way too far
                It'll leave you breathless
                Or with a nasty scar
                Got a long list of ex-lovers
                They'll tell you I'm insane
                But I've got a blank space, baby
                And I'll write your name

                Boys only want love if it's torture
                Don't say I didn't say, I didn't warn ya
                Boys only want love if it's torture
                Don't say I didn't say, I didn't warn ya

                So it's gonna be forever
                Or it's gonna go down in flames
                You can tell me when it's over
                If the high was worth the pain
                Got a long list of ex-lovers
                They'll tell you I'm insane
                'Cause you know I love the players
                And you love the game

                'Cause we're young and we're reckless
                We'll take this way too far
                It'll leave you breathless
                Or with a nasty scar
                Got a long list of ex-lovers
                They'll tell you I'm insane
                But I've got a blank space, baby
                And I'll write your name </p>
        </div>

        <div id="tab2" class="tab">
            <p>Tab #2 content goes here!</p>
        </div>

        <div id="tab3" class="tab">
            <p>Tab #3 content goes here!</p>
        </div>

        <div id="tab4" class="tab">
            <p>Tab #4 content goes here!</p>
        </div>
    </div>
</div>
{% endblock %}