{% extends 'registry/base_auth.html' %}
{% load staticfiles %}
{% load sass_tags %}

{% block content %}

<table border="1" >
    <tr>
        <th><a href="{% url 'registry:appt_create'%}"><h4>Create an appointment</h4></a></th>
        </tr>
<tr>
        <th>Edit</th>
    <th>Patient</th>
    <th>Doctor</th>
        <th>Date</th>
    <th>Hospital</th>
</tr>
{% for appointment in appointments %}
    <tr>
    <td>Edit</td>
    <td>{{ appointment.patient }}</td>
    <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.time }}</td>
    <td>{{ appointment.location }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}