{% extends 'registry/base_auth.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load rules %}

{% test_rule 'is_nurse' hn_user as is_nurse %}
{% block content %}

<table border="1" >
     <tr>
        <th><a href="{% url 'registry:appt_create'%}"><h4>Create an appointment</h4></a></th>
         <th>Day</th>

        </tr>
<tr>
        <th>Edit</th>
    <th>Patient</th>
    <th>Doctor</th>
        <th>Date</th>
    <th>Hospital</th>

</tr>
{% for appointment in appointments %}
    <tr>
    <td><a href="{% url 'registry:appt_edit' pk=appointment.pk %}">Edit</a></td>
    <td>{{ appointment.patient }}</td>
    <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.time }}</td>
    <td>{{ appointment.location }}</td>

    </tr>
{% endfor %}
</table><br><br>
    {% if not is_nurse %}
        <table border="1" >
     <tr>
        <th><h4>Weekly</h4></th>
        </tr>
<tr>
        <th>Edit</th>
    <th>Patient</th>
    <th>Doctor</th>
        <th>Date</th>
    <th>Hospital</th>
</tr>
    {% for week in week %}
    <tr>
    <td><a href="{% url 'registry:appt_edit' pk=week.pk %}">Edit</a></td>
    <td>{{ week.patient }}</td>
    <td>{{ week.doctor }}</td>
        <td>{{ week.time }}</td>
    <td>{{ week.location }}</td>

    </tr>
{% endfor %}
</table>
    {% endif %}
{% endblock %}