{% extends 'registry/base_auth.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load rules %}

{% test_rule 'is_nurse' user.hn_user as is_nurse %}
{% block content %}

<table border="1" >
     <tr>
        <th><a href="{% url 'registry:appt_create'%}"><h4>Create an appointment</h4></a></th>
        </tr>
<tr>
        <th>Edit</th>
    <th>Patient</th>
    <th>Doctor</th>
        <th>Date</th>
    <th>Hospital</th>
    {% if not is_nurse %}
        <th>Delete</th>
    {% endif %}
</tr>
{% for appointment in appointments %}
    <tr>
    <td><a href="{% url 'registry:appt_edit' pk=appointment.pk %}">Edit</a></td>
    <td>{{ appointment.patient }}</td>
    <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.time }}</td>
    <td>{{ appointment.location }}</td>
        {% if not is_nurse %}
    <td><a href="{% url 'registry:appt_delete' pk=appointment.pk %}">Delete</a></td>
    {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}