{% extends 'registry/base_auth.html' %}

{% load rules %}
{% load staticfiles %}
{% load sass_tags %}
{% load registry_tags %}
{% load crispy_forms_tags %}

{% block title %}HealthNet | Home{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% sass_src 'registry/css/base_user.scss' %}"/>
{% endblock %}

{% block _base_jsimport %}
    <script type="text/javascript" src="{% static 'registry/js/base_user.js' %}"></script>
{% endblock %}

{% block content %}

<div id="left">
    <ul>
        <li>Picture</li>
        <li>{{ hn_user.first_name }} {{hn_user.middle_initial}} {{hn_user.last_name }}</li>
        <li>{{ hn_user.date_of_birth }}</li>
    </ul>
</div>

<div id="right">
    {% csrf_token %}
        <ul id="tab-links">
            <li><a href ="#tab1" rel="tab1" class="hn-tab">Personal</a></li>
            {% block userLinks %}{% endblock %}
            <li><a href ="#tab6" rel="tab3" class="hn-tab">Inbox</a></li>
        </ul>

        <div id="tab-content">
            <div id="tab1" class="tab">
                <form id="form">
                    <label>First Name:</label><input data-field="first_name" class="editable" type="text" value="{{ hn_user.first_name }}" /><br>
                    <label>Middle Initial:</label><input data-field="middle_initial" class="editable" type="text" value="{{ hn_user.middle_initial }}"/><br>
                    <label>Last Name:</label><input data-field="last_name" class="editable" type="text" value="{{ hn_user.last_name }}"/><br>
                    <label>Date of Birth:</label><input data-field="date_of_birth" class="editable" type="text" value="{{ hn_user.date_of_birth }}"/><br>
                    <label>Gender:</label><input data-field="gender" class="editable" type="text" value="{% labelify hn_user.gender 'gender' %}"/><br>
                </form>
            </div>
            {% block userContent %}{% endblock %}
            <div id="tab6" class="tab">
                {% block inner-content %}
                    {% crispy form form.helper %}
                {% endblock %}
            </div>
        </div>
</div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        registry.forms.user.hook(true, "{{ hn_user.pk }}");
    </script>
{% endblock %}