{% extends 'registry/base.html' %}

{% load rules %}
{% load staticfiles %}
{% load sass_tags %}

{% block title %}HealthNet | Home{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% sass_src 'registry/css/base_user.scss' %}"/>
{% endblock %}

{% block jsimport %}
<script type="text/javascript" src="{% static 'registry/js/base_user.js' %}"></script>
{% endblock %}

{% block content %}

<div id="left">
    <ul>
        <li>Picture</li>
        <li>{{ hn_user.first_name }} {{hn_user.middle_initial}} {{hn_user.last_name }}</li>
        <li>{{ hn_user.date_of_birth }}</li>
    </ul>
</div>

<div onload="enable_text(false);" id="right">


    {% test_rule 'is_patient' hn_user as is_patient %}
    {% if is_patient %}
        <!-- Patient -->
        <ul id = "tab-links">
            <li><a href ="#tab1" rel="tab1">Personal</a></li>
            <li><a href ="#tab2" rel="tab2">Medical</a></li>
            <li><a href ="#tab3" rel="tab3">Insurance</a></li>
            <li><a href ="#tab4" rel="tab4">Admission</a></li>
            <li><a href="{% url 'registry:alist' %}" rel="tab4">Appointments</a></li>
            <li><a href ="#tab5" rel="tab5">Inbox</a></li>
        </ul>

        <div id="tab-content">
            <div id="tab1" class="tab">
                <form id="form">
                    <label>First Name:</label><input id="patient_name" type="text" value="{{ hn_user.first_name }}"/><br>
                    <label>Middle Initial:</label><input type="text" value="{{ hn_user.middle_initial }}"/><br>
                    <label>Last Name:</label><input type="text" value="{{ hn_user.last_name }}"/><br>
                    <label>Date of Birth:</label><input type="text" value="{{ hn_user.date_of_birth }}"/><br>
                    <label>Gender:</label><input type="text" value="{{ hn_user.gender }}"/><br>
                </form>
            </div>

            <div id="tab2" class="tab">
                <form id="form">
                    <label>Height:</label><input type="text" value="{{ hn_user.height }}"/><br>
                    <label>Weight:</label><input type="text" value="{{ hn_user.weight }}"/><br>
                    <label>Blood Type:</label><input type="text" value="{{ hn_user.blood_type }}"/><br>
                </form>
            </div>

            <div id="tab3" class="tab">
                <form id="form">
                    <label>First Name:</label><input type="text" value="{{ hn_user.insurance }}"/><br>
                </form>
            </div>

            <div id="tab4" class="tab">
                <p>Tab #4 content goes here!</p>
            </div>
            <div id="tab5" class="tab">
                <p>Tab #5 content goes here!</p>
            </div>
        </div>
    {% endif %}

            <!-- Doctor/Nurse -->
    {% test_rule 'is_doctor' hn_user as is_doctor %}
    {% if is_doctor %}
        <ul id = "tab-links">
            <li><a href ="#tab1" rel="tab1">Personal</a></li>
            <li><a href="{% url 'registry:alist' %}" rel="tab2">Appointments</a></li>
            <li><a href ="#tab3" rel="tab3">Inbox</a></li>
        </ul>

        <div id="tab-content">
            <div id="tab1" class="tab">
                <form id="form">
                    <label>First Name:</label><input type="text" value="{{ hn_user.first_name }}"/><br>
                    <label>Middle Initial:</label><input type="text" value="{{ hn_user.middle_initial }}"/><br>
                    <label>Last Name:</label><input type="text" value="{{ hn_user.last_name }}"/><br>
                    <label>Date of Birth:</label><input type="text" value="{{ hn_user.date_of_birth }}"/><br>
                    <label>Gender:</label><input type="text" value="{{ hn_user.gender }}"/><br>
                </form>
            </div>

            <div id="tab2" class="tab">
                <p>Tab #2 content goes here!</p>
            </div>

            <div id="tab3" class="tab">
                <p>Tab #3 content goes here!</p>
            </div>
        </div>
    {% endif %}

        <!-- Admin-->
    {% test_rule 'is_administrator' hn_user as is_administrator %}
    {% if is_administrator %}
        <ul id = "tab-links">
            <li><a href ="#tab1" rel="tab1">Personal</a></li>
            <li><a href ="#tab2" rel="tab2">Logs/Stats</a></li>
            <li><a href ="#tab3" rel="tab3">Inbox</a></li>
        </ul>
        <div id="tab-content">
            <div id="tab1" class="tab">
                <form id="form">
                    <label>First Name:</label><input type="text" value="{{ hn_user.first_name }}"/><br>
                    <label>Middle Initial:</label><input type="text" value="{{ hn_user.middle_initial }}"/><br>
                    <label>Last Name:</label><input type="text" value="{{ hn_user.last_name }}"/><br>
                    <label>Date of Birth:</label><input type="text" value="{{ hn_user.date_of_birth }}"/><br>
                    <label>Gender:</label><input type="text" value="{{ hn_user.gender }}"/><br>
                </form>
            </div>

            <div id="tab2" class="tab">
                <p>Tab #2 content goes here!</p>
            </div>

            <div id="tab3" class="tab">
                <p>Tab #3 content goes here!</p>
            </div>
        </div>
    {% endif %}
    <div id="buttons">
        <button><a>Edit</a></button>
        <button><a>Submit</a></button>
    </div>
</div>

{% endblock %}