{% extends 'registry/base/base.html' %}
{% load static %}

{% block title %}HealthNet{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" type="text/css" href="{% static 'registry/css/landing.css' %}">
{% endblock %}

{% block content %}
    {% include "registry/components/message_display.html" %}
    <h1>Welcome to HealthNet</h1>
    <div id="buttons">
        <a href="{% url 'registry:login' %}"><button>Log In</button></a>
        <a href="{% url 'registry:register' %}"><button>Register</button></a>
    </div>
{% endblock %}