{% extends 'registry/base/base.html' %}
{% load staticfiles %}
{% load sass_tags %}

{% block title %}HealthNet | Activity Log {% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% sass_src 'registry/css/log.scss' %}"/>
{% endblock %}

{% block content %}
    <div class="log-header">
        <label>From: <input id="from" type="date" class=".dateinput" value="{{ from.isoformat }}" datepicker /></label>
        <label>To: <input id="to" type="date" class=".dateinput" value="{{ to.isoformat }}" datepicker/></label>
        <a class="btn btn-primary" onclick="reLog()">Get Logs</a>
    </div>
    <div class="log-content">
    {% for line in action_list %}
        <p>{{line}}</p>
    {% endfor %}
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        function reLog() {
            from = $("#from").val();
            to = $("#to").val();

            window.location.href = "{% url 'registry:activity_log' %}?from=" + from + "&to=" + to;
        }

        registry.utility.hookDatepicker();
    </script>
{% endblock %}