<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HeathNet | LogIn</title>
</head>
<body>
    <div id="wrapper">
            <div id="logIn">
                <form>
                    <fieldset>
                        <legend>Log In:</legend>
                        <label>Email:<label><input type="text"><br>
                        <label>Password<label><input type="password"><br>
                        <input type="submit" value="Log in">
                    </fieldset>
                </form>
            </div>
        </div>
</body>
</html>