{% extends 'registry/base.html' %}

{% block title %}HealthNet | Log In{% endblock %}

{% block content %}
    <div id="wrapper">
            <div id="logIn">
                <form method="POST">
                    <fieldset>
                        <legend>Log In:</legend>
                        <label>Email: </label><input type="text" name="email"/><br/>
                        <label>Password: </label><input type="password" name="password"><br/>
                        <input type="submit" value="Log in"/>
                    </fieldset>
                </form>
            </div>
        </div>
{% endblock %}