{% extends 'registry/base_auth.html' %}
{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}

{% block title %}HealthNet | Registration{% endblock %}
{% block inner-title %}Patient Registration{% endblock %}
{% block set-active %}__NONE__{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% static 'pikaday/css/pikaday.css' %}"/>
    <link rel="stylesheet" href="{% sass_src 'registry/css/base_auth.scss' %}"/>
{% endblock %}

{% block inner-content %}
    {% crispy form form.helper %}
{% endblock %}

{% block jsimport %}
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pikaday/pikaday.js' %}"></script>
<script type="text/javascript" src="{% static 'pikaday/plugins/pikaday.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'registry/js/measurements.js' %}"></script>
<script type="text/javascript" src="{% static 'registry/js/utility.js' %}"></script>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        registry.utility.hookDatepicker();
    </script>
{% endblock %}