{% extends 'registry/base/base_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}HealthNet | Registration{% endblock %}
{% block inner-title %}Patient Registration{% endblock %}
{% block set-active %}__NONE__{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% static 'pikaday/css/pikaday.css' %}"/>
{% endblock %}

{% block inner-content %}
    {% crispy form form.helper %}
    <div>
        <span id="fieldExplain">* - Required Field</span>
    </div>
{% endblock %}

{% block jsimport %}
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pikaday/pikaday.js' %}"></script>
<script type="text/javascript" src="{% static 'pikaday/plugins/pikaday.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'registry/coffee/measurements.js' %}"></script>
<script type="text/javascript" src="{% static 'registry/js/utility.js' %}"></script>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        registry.utility.hookDatepicker();
        registry.forms.measurement.init();
    </script>
{% endblock %}