<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HeathNet | LogIn</title>
</head>
<body>
    <div id="wrapper">
            <div id="registration">
                <form action="detail.html">
                        <!-- <legend>{{"Blank registration"}}</legend> -->
                            <label>{{"Name etc.."}}<label><input type="text" required><br>
                        <input type="submit" value="Register">
                </form>
            </div>
        </div>
</body>
</html>