<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HeathNet | LogIn</title>
</head>
<body>
    <div id="wrapper">
            <div id="registration">
                <form>
                        <!-- <legend>{{"Blank registration"}}</legend> -->
                        {% for __ in __ %}
                            <label>{{"Name etc.."}}<label><input type="text"><br>
                        {% endfor %}
                        <input type="submit" value="Register">
                </form>
            </div>
        </div>
</body>
</html>