{% extends 'registry/base_user.html' %}
{% load registry_tags %}

{% block userLinks %}
    <li><a href ="#tab2" rel="tab2" class="hn-tab">Medical</a></li>
    <li><a href ="#tab3" rel="tab3" class="hn-tab">Insurance</a></li>
    <li><a href ="#tab4" rel="tab4" class="hn-tab">Admission</a></li>
    <li><a href="{% url 'registry:alist' %}" rel="tab4" class="hn-tab">Appointments</a></li>
{% endblock %}
{% block userContent %}
    <div id="tab2" class="tab">
                <form id="form">
                    <label>Height:</label><input data-field="height" class="editable" type="text" value="{{ hn_user.height }}"/><br>
                    <label>Weight:</label><input data-field="weight" class="editable" type="text" value="{{ hn_user.weight }}"/><br>
                    <label>Blood Type:</label><input data-field="blood_type" class="editable" type="text" value="{% labelify hn_user.blood_type 'blood' %}"/><br>
                </form>
            </div>

            <div id="tab3" class="tab">
                <form id="form">
                    <label>Insurance:</label><input data-field="insurance" class="editable" type="text" value="{{ hn_user.insurance }}"/><br>
                </form>
            </div>
            <div id="tab4" class="tab">
                <p>Admission information will go here!</p>
            </div>
{% endblock %}

