{% extends 'registry/base/base_auth.html' %}

{% load rules %}
{% load staticfiles %}
{% load sass_tags %}
{% load registry_tags %}
{% load crispy_forms_tags %}

{% block title %}HealthNet | Home{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% sass_src 'registry/css/base_user.scss' %}"/>
    {% block calendar_cssimport %}{% endblock %}
{% endblock %}

{% block _base_jsimport %}
    <script type="text/javascript" src="{% static 'registry/js/base_user.js' %}"></script>
    {% block calendar_jsimport %}{% endblock %}
{% endblock %}

{% block content %}

<div id="left">
    <ul>
        <li><div id="imgPic"><img id="avatar" src="../static/registry/img/logo/Logo_Small.png" /></div></li>
        <li><p id="leftName">{{ patient.first_name }} {{patient.middle_initial}} {{patient.last_name }}</p></li>
        <li><p id="leftDOB">{{ patient.date_of_birth }}</p></li>
    </ul>
</div>

<div id="right">
    {% csrf_token %}
        <ul id="tab-links">
            <li><a href ="#tab1" rel="tab1" class="hn-tab">Medical Information</a></li>
            <li><a href ="#tab2" rel="tab6" class="hn-tab">Medical Tests</a></li>
            <li><a href ="#tab3" rel="tab6" class="hn-tab">Prescriptions</a></li>
        </ul>

        <div id="tab-content">
            <div id="tab1" class="tab" style="display: block;">
                <form id="form">
                    <label>First Name:</label><input data-field="first_name" class="editable" type="text" value="{{ patient.first_name }}" /><br>
                    <label>Middle Initial:</label><input data-field="middle_initial" class="editable" type="text" value="{{ patient.middle_initial }}"/><br>
                    <label>Last Name:</label><input data-field="last_name" class="editable" type="text" value="{{ patient.last_name }}"/><br>
                    <label>Date of Birth:</label><input data-field="date_of_birth" class="editable" type="text" value="{{ patient.date_of_birth }}"/><br>
                    <label>Gender:</label><input data-field="gender" class="editable" type="text" value="{{ patient.gender }}"/><br>
                </form>
            </div>

            <div id="tab2" class="tab">
                Medical Tests will go here!!
            </div>

            <div id="tab3" class="tab">
                <table id="prestable">
                    <thead>
                        <tr>
                            <th><div class="presHead">Prescription</div></th>
                            <th><div class="presHead">Count</div></th>
                            <th><div class="presHead">Amount</div></th>
                            <th><div class="presHead">Refills</div></th>
                            <th><div class="presHead">End Date</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rx in rxs %}
                            <tr>
                                <td>
                                    <div>{{ rx.drug }}</div>
                                </td>
                                <td>
                                    <div>{{ rx.count }}</div>
                                </td>
                                <td>
                                    <div>{{ rx.amount }}</div>
                                </td>
                                <td>
                                    <div>{{ rx.refills }}</div>
                                </td>
                                <td>
                                    <div>{{ rx.time_range.end_time }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="presbuttons">
                    <a href="#tab4"><button>Add Prescription</button></a>
                </div>
            </div>

            <div id="tab4" class="tab">
                {% crispy rx_form rx_form.helper %}
            </div>

            {% block userContent %}{% endblock %}
        </div>
</div>
{% endblock %}