{% extends 'registry/users/../base/base_user.html' %}

{% load static %}
{% load sass_tags %}
{% load registry_tags %}
{% load crispy_forms_tags %}

{% block set-active %}__NONE__{% endblock %}

{% block calendar_cssimport %}

    <link href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet" />
	<link href="{% static 'fullcalendar/dist/fullcalendar.print.css' %}" rel="stylesheet" media="print" />
{% endblock %}

{% block calendar_jsimport %}
    <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
	<!--FullCalendar-->
	<script src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
{% endblock %}

{% block user_customjs %}
    {% include "registry/components/calendar.html" %}
{% endblock %}

{% block userLinks %}
    <li><a href ="#tab2" rel="tab2" class="hn-tab">Medical</a></li>
    <li><a href ="#tab3" rel="tab3" class="hn-tab">Insurance</a></li>
    <li><a href="#tab5" id="appt-tab" rel="tab5" class="hn-tab">Appointments</a></li>
    <li><a href="#tab10" id="appt-tab" rel="tab5" class="hn-tab">Export Information</a></li>
    {#    <li><a href="#ta7" rel="tab7" class="hn-tab">Medical Tests</a></li>#}

{% endblock %}

{% block userContent %}
            <div id="tab2" class="tab">
                <form id="form">
                    <label>Height:</label><input data-field="height" class="editable" type="text"
                                                 value="{{ hn_owner.height }}"/><br>
                    <label>Weight:</label><input data-field="weight" class="editable" type="text"
                                                 value="{{ hn_owner.weight }}"/><br>
                    <label>Blood Type:</label><input data-field="blood_type" class="editable" type="text"
                                                     value="{% labelify hn_owner.blood_type 'blood' %}"/><br>
                </form>
                {% include "registry/components/prescription_list.html" %}
            </div>

            <div id="tab3" class="tab">
                <form id="form">
                    <label>Insurance:</label><input data-field="insurance" class="editable" type="text"
                                                    value="{{ hn_owner.insurance }}"/><br>
                </form>
            </div>

            <div id="tab5" class="tab">
                <div class="container calendar">
                    <div id="calendar"></div>
                </div>
            </div>

    <div id="tab10" class="tab">
        <div>
            Export information will be added here
        </div>
    </div>

{% endblock %}