{% extends 'registry/users/../base/base_user.html' %}

{% load static %}
{% load registry_tags %}
{% load crispy_forms_tags %}

{% block calendar_cssimport %}
    <link rel="stylesheet" href="{% static 'registry/css/doctor.css' %}"/>
    <link rel="stylesheet" href="{% static 'registry/css/calendar.css' %}"/>
	<link href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet" />
	<link href="{% static 'fullcalendar/dist/fullcalendar.print.css' %}" rel="stylesheet" media="print" />
{% endblock %}

{% block calendar_jsimport %}
    <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
	<!--FullCalendar-->
	<script src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
{% endblock %}

{% block user_customjs %}
    {% include "registry/components/calendar.html" %}
{% endblock %}

{% block userLinks %}
    <li><a href="#tab2" rel="tab2" class="hn-tab">Patients</a></li>
    <li><a href="#tab5" id="appt-tab" rel="tab3" class="hn-tab">Appointments</a></li>
    <li><a href="#tab10" rel="tab3" class="hn-tab">Request Transfers</a></li>
    {% if has_inbox %}
        <li><a href="{% url 'registry:tests' hn_visitor.uuid %}" rel="tab4" class="hn-tab">Upload Tests</a></li>
    {% endif %}
{% endblock %}
{% block userContent %}

    <div id="tab2" class="tab">
        <table id="patient">
            <thead>
                <tr>
                    <th id="theader" colspan="3">
                        <div class="patientHead"><p id="patientTitle">Patients List</p></div>
                        <div id="patientSearch" class="patientHead">Search:
                                <input id="patientSearchBar" type="text" placeholder="Search for Patient..">
                            </div>
                    </th>
                </tr>
                <tr>
                    <th id="theader">
                        <div class="patientHead"><p>Patient</p></div>
                    </th>
                    <th id="theader">
                        <div class="patientHead"><p>Admit Status</p></div>
                    </th>
                    <th id="theader">
                        <div class="patientHead"><p>Discharge</p></div>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for p in doctors_patients %}
                    <tr>
                        <td class="patientBody">
                            <div>
                                <div id="patientPic"><img id="patientAvatar"
                                                          src="{% static "registry/img/logo.png" %}"/></div>
                                <ul>
                                    <li>
                                        <a href="{% url 'registry:user' p.uuid %}">
                                            <p id="patientName">{{ p.first_name }} {{p.middle_initial}} {{p.last_name }}</p>
                                        </a>
                                    </li>
                                    <li><p id="patientDOB">{{ p.date_of_birth }}</p></li>
                                </ul>
                            </div>
                        </td>
                        <td class="patientBody">
                            {% if p.is_admitted %}
                                Admitted<br>
                                Hospital: {{ p.admission_status.hospital }}
                            {% else %}
                                Not Admitted<br>
                                <a href="{% url 'registry:patient_admit' p.uuid %}">
                                    <button>Admit Patient</button>
                                </a>
                            {% endif %}
                        </td>
                        <td class="patientBody">
                            {% if p.is_admitted %}
                                <button id="discharge-btn" data-patient-name="{{ p|stringify }}"
                                        data-patient-id="{{ p.uuid }}">Discharge
                                </button>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="tab5" class="tab">
        <div class="container calendar">
            <div id="calendar"></div>
        </div>
    </div>

    <div id="tab10" class="hn-table tab">
        <table id="patients">
            <thead>
            <tr>
                <th id="theader" class="hn-table-header" colspan="3">
                    <div class="patientHead">
                        <p id="patientTitle">Request Transfers
                        <p>
                        <div id="patientSearch" class="patientHead">Search:
                            <input id="patientDischargeSearchBar" type="text" placeholder="Search for Patient..">
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th id="theader" class="hn-table-header">
                    <div class="patientHead">
                        Patient
                    </div>
                </th>
                <th id="theader" class="hn-table-header">
                    <div class="patientHead">
                        Current Transfer Infomation
                    </div>
                </th>
                <th id="theader" class="hn-table-header">
                    <div class="patientHead">
                        Transfer Request
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for p in patients_transfer %}
                {% if  p.is_admitted %}
                    <tr>
                        <td class="patientBody">
                            <div>
                                <div id="patientPic"><img id="patientAvatar"
                                                          src="{% static "registry/img/logo.png" %}"/></div>
                                <ul>
                                    <li>
                                        <a style="vertical-align: middle;" href="{% url 'registry:user' p.uuid %}">
                                            <p id="patientName">{{ p.first_name }} {{ p.middle_initial }} {{ p.last_name }}</p>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td class="patientBody">
                            <p>{{ p.admission_status }}</p>
                        </td>
                        <td class="patientBody">
                            <a href="{% url 'registry:transfer_create' p.uuid %}">
                                <button>Transfer</button>
                                </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}