{% extends 'registry/users/../base/base_user.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load sass_tags %}
{% load static %}
{% load registry_tags %}

{% block user_cssimport %}
    <link rel="stylesheet" href="{% static 'pikaday/css/pikaday.css' %}"/>
    <link rel="stylesheet" href="{% sass_src 'registry/css/logrender.scss' %}"/>
{% endblock %}

{% block userLinks %}
    <li><a href="#tab2" rel="tab2" class="hn-tab">Logs</a></li>
    <li><a href="{% url 'registry:time' %}" rel="tab2" class="hn-tab">Stats</a></li>
    <li><a href="#tab3" rel="tab2" class="hn-tab">Add Admin</a></li>
    <li><a href="#tab4" rel="tab4" class="hn-tab">Add Doctor</a></li>
    <li><a href="#tab5" rel="tab5" class="hn-tab">Add Nurse</a></li>
    <li><a href="{% url 'registry:register' %}" class="hn-tab">Add Patient</a></li>
    <li><a href="#tab10" rel="tab3" class="hn-tab">Request Transfers</a></li>

{% endblock %}
{% block userContent %}
     <div id="tab2" class="tab">

         <label>Start Date:
             <input id="log-start-date" class="dateinput" type="text" datepicker readonly/>
         </label>

         <label>End Date:
             <input id="log-end-date" class="dateinput" type="text" datepicker readonly/>
         </label>

         <table class="hn-table" id="log-table">
             <thead>
             <tr>
                 <th colspan="5">
                     <p class="hn-table-title">Hospital: {{ hn_owner.hospital }}</p>
                 </th>
             </tr>
             <tr>
                 <th>
                     <div class="hn-table-header">Timestamp</div>
                 </th>
                 <th>
                     <div class="hn-table-header">Level</div>
                 </th>
                 <th>
                     <div class="hn-table-header">Action</div>
                 </th>
                 <th>
                     <div class="hn-table-header">URL</div>
                 </th>
                 <th>
                     <div class="hn-table-header priority">Message</div>
                 </th>
             </tr>
             </thead>
             <tbody>

             </tbody>
         </table>
     </div>
    <div id="tab3" class="tab">
        {% include "registry/components/admin_registration.html" %}
    </div>
    <div id="tab4" class="tab">
        {% include "registry/components/doctor_registration.html" %}
    </div>
    <div id="tab5" class="tab">
        {% include "registry/components/nurse_registration.html" %}
    </div>

    <div id="tab10" class="tab">
        <table id="patient">
            <thead>
            <tr>
                <th id="theader" colspan="3">
                    <div class="patientHead">
                        <p id="patientTitle">Request Transfers
                        <p>
                        <div id="patientSearch" class="patientHead">Search:
                            <input id="patientDischargeSearchBar" type="text" placeholder="Search for Patient..">
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th id="theader">
                    <div class="patientHead">
                        Patient
                    </div>
                </th>
                <th id="theader">
                    <div class="patientHead">
                        Current Transfer Infomation
                    </div>
                </th>
                <th id="theader">
                    <div class="patientHead">
                        Transfer Request
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for p in patients_transfer %}
                {% if  p.is_admitted %}
                    <tr>
                        <td class="patientBody">
                            <div>
                                <ul>
                                    <li>
                                        <a href="{% url 'registry:user' p.uuid %}">
                                            <p id="patientName">{{ p.first_name }} {{ p.middle_initial }} {{ p.last_name }}</p>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td class="patientBody">
                            <li><p>Admission Status: {{ p.admission_status }}</p></li>
                        </td>
                        <td class="patientBody">
                            <a href="{% url 'registry:transfer_create' p.uuid %}">
                                <button>Transfer</button>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block jsimport %}
    <script type="text/javascript" src="{% static 'pikaday/pikaday.js' %}"></script>
    <script type="text/javascript" src="{% static 'pikaday/plugins/pikaday.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'registry/js/logrender.js' %}"></script>
    <script type="text/javascript" src="{% static 'registry/js/special_user_registration.js' %}"></script>
{% endblock %}

{% block user_customjs %}
    <script type="text/javascript">
        registry.utility.hookDatepicker();
        registry.data.logrender.renderLogs({});
    </script>
{% endblock %}