{% extends 'registry/users/../base/base_user.html' %}
{% load crispy_forms_tags %}

{% block userLinks %}
    <li><a href ="#tab2" rel="tab2" class="hn-tab">Logs/Stats</a></li>
    <li><a href="#tab3" rel="tab2" class="hn-tab">Add Admin</a></li>
    <li><a href="#tab3" rel="tab2" class="hn-tab">Add Doctor</a></li>
    <li><a href="#tab3" rel="tab2" class="hn-tab">Add Nurse</a></li>
    <li><a href="{% url 'registry:register' %}" class="hn-tab">Add Patient</a></li>
{% endblock %}
{% block userContent %}
     <div id="tab2" class="tab">
         Hospital: {{ hn_owner.hospital }}<br>
         <table>
             <tr>
                 <td>Date Time</td>
                 <td>User who did Action</td>
                 <td>Action</td>
                 <td>Patient Affected</td>
                 <td>Staff Member Affected</td>
             </tr>
             {% for log in loglist %}
                 <tr>
                     <td>{{ log.date }}</td>
                     <td>{{ log.user_action }}</td>
                     <td>{{ log.action_string }}</td>
                     <td>{% if log.patient_exists %}{{ log.user_patient }} {% else %}None{% endif %}</td>
                     <td>{% if log.staff_exists %}{{ log.user_staff_affected }}{% else %}None {% endif %}</td>
                 </tr>
             {% endfor %}
         </table>
     </div>
    {#    <div id="tab3" class="tab">#}
    {#        {% crispy admin_form admin_form.helper %}#}
    {#    </div>#}
{% endblock %}