{% extends 'registry/users/../base/base_user.html' %}

{% load static %}
{% load sass_tags %}
{% load registry_tags %}
{% load crispy_forms_tags %}

{% block set-active %}__NONE__{% endblock %}

{% block calendar_cssimport %}
    <link rel="stylesheet" href="{% sass_src 'registry/css/doctor.scss' %}"/>
    <link href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'fullcalendar/dist/fullcalendar.print.css' %}" rel="stylesheet" media="print"/>
{% endblock %}

{% block calendar_jsimport %}
    <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
    <!--FullCalendar-->
    <script src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
{% endblock %}

{% block user_customjs %}
    {% include "registry/components/calendar_nurse.html" %}
{% endblock %}

{% block userLinks %}
    <li><a href="#tab2" rel="tab2" class="hn-tab">Patients</a></li>
    <li><a href="#tab5" id="appt-tab" rel="tab4" class="hn-tab">Appointments</a></li>

{% endblock %}
{% block userContent %}

    <div id="tab2" class="tab">
        <table id="patient">
            <thead>
            <tr>
                <th id="theader">
                    <div class="patientHead">
                        <p id="patientTitle">Patients
                        <p>
                        <div id="patientSearch" class="patientHead">Search:
                            <input id="patientSearchBar" type="text" placeholder="Search for Patient..">
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Patients that list hospital <b>{{ hn_owner.hospital }}</b> as their preferred Hospital</td>
            </tr>
            {% for p in pref_patients %}
                <tr>
                    <td class="patientBody">
                        <div>
                            <div id="patientPic"><img id="patientAvatar"
                                                      src="{% static "registry/img/logo.png" %}"/></div>
                            <ul>
                                <li>
                                    <a href="">
                                        <p id="patientName">{{ p.first_name }} {{ p.middle_initial }} {{ p.last_name }}</p>
                                    </a>
                                </li>
                                <li><p id="patientDOB">{{ p.date_of_birth }}</p></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody>
            <tr>
                <td>Patients are admitted to hospital <b>{{ hn_owner.hospital }}</b></td>
            </tr>
            {% for p in admit_patients %}
                <tr>
                    <td class="patientBody">
                        <div>
                            <div id="patientPic"><img id="patientAvatar"
                                                      src="{% static "registry/img/logo.png" %}"/></div>
                            <ul>
                                <li>
                                    <a href="">
                                        <p id="patientName">{{ p.first_name }} {{ p.middle_initial }} {{ p.last_name }}</p>
                                    </a>
                                </li>
                                <li><p id="patientDOB">{{ p.date_of_birth }}</p></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <div id="tab5" class="tab">
        <div class="container calendar">
            <div id="calendar"></div>
        </div>
    </div>

{% endblock %}