@import "constants";

// Header margin constants
$header-margin-topbottom: 0.7rem;
$header-margin-leftright: 1rem;
$header-margin: $header-margin-topbottom $header-margin-leftright;

html, body {
  height: 100%;
  margin: 0;
}

body {
  // Just some general things to apply to general text, hopefully overriding anything default bootstrap
  font-family: $healthnet-standard-font;
  padding-top: 70px; // Recommended by bootstrap, we can play with this
  background: $healthnet-primary-bg-color;
}

.interactive {
  font-family: $healthnet-header-font;
}

// Where most of the action is
nav.navbar {
  font-family: $healthnet-header-font;
  background: $healthnet-secondary-bg-color;
  color: $healthnet-text-color;

  // The below is necessary to beat Bootstrap's specificity
  & > .container-fluid {
    a.healthnet { // Branch Logo SASS
      margin: $header-margin;

      font-size: 200%;
      font-weight: bold;

      letter-spacing: 0.05em;
      color: $healthnet-text-color;
    }

    .navbar-nav {
      & > .hn-menuitem { // Applies to all menu items (should be marked with hn-menuitem)
        box-sizing: border-box; // Fixes transition artefacts
        font-weight: bold;
        margin: $header-margin;

        & > a { // All menuitems have <a> children
          color: $healthnet-text-color;
        }
      }

      & > .hn-menuitem.active {
        & > a { // Additional SASS for 'active' menuitem link
          background: $healthnet-text-color-alt;
        }
      }

      & > .hn-menuitem:not(.active) {
        & > a { // Additional SASS For all other 'non-active' menuitem links
          background: $healthnet-secondary-bg-color;
          @include hover-animate($healthnet-secondary-bg-color);

          &:hover {
            @include hover-animate($healthnet-text-color-alt);
          }
        }
      }
    }
  }

  // Makes the Mobile Navigation Icon have bars the same color as the header text... for consistency.
  .navbar-toggle span.icon-bar {
    background-color: $healthnet-text-color;
  }
}

#pic{
  height: 50px;
  font-weight: 50px;
  margin-top: -9.5%;
}

select#user-search, .selectize-control {

  margin-top: $header-margin-topbottom;
  width: 30rem;

  &.loading {

  }

}

div.search-result {
  display: flex;
  align-items: center;

  & > div.small-avatar-box {
    float: left;
    width: 20%;
    height: 50%;
    margin: 5% auto;

    & > .small-avatar {
      width: 100%;
      height: auto;

      &#avatar {
        height: auto;
      }

      margin: 0 auto;
    }
  }

  & > .small-content-box {
    float: left;
    width: 75%;
    padding-left: 5%;

    text-align: center;
    vertical-align: center;

    & > #search-result-name {
      font-size: 1.5rem;
    }

  }
}

div.hn-page-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
}

div.hn-container {
  background: white;
  width: 80%;
  height: 90%;
  margin: 1% auto;
  padding: 1%;

  overflow: auto;
  clear: both;
}

.floating {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.left {
  float: left;
}

.right {
  float: right
}

.avatar-wrapper {
  display: flex;
  align-items: center;

  & > img {
    margin: 0 auto;
  }
}

#avatar, .avatar {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px 2px #B3B3B3;
  margin-bottom: 2%;
}

hr.hn-sep-1 {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

button.hn-button {
  display: inline-block;

  font-family: $healthnet-header-font;
  font-weight: 700;
  color: #337ab7;
  word-wrap: break-word;

  &:hover {
    color: #23527c;
  }

}

div.hn-button-group {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 1%;
}

[data-notify-text] {
  font-family: $healthnet-header-font;
}