@import 'constants';

div.hn-page-wrapper {
  justify-content: center;
  align-items: center;
}

div.hn-form.wrapper {
  width: 68%;
  height: auto;

  &> .content {
    padding: 3% 5%;
  }
}

legend {
  border-bottom-color: $healthnet-secondary-bg-color;
}

.form-actions input {
  margin: 20px 0;
}

.help-inline {
  color: #a94442;
}