#calendar {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

#calendar .fc-event-container {
  font-size: 12px;
}