{% extends 'registry/base/base.html' %}
{% load staticfiles %}

{% block set-active %}__NONE__{% endblock %}

{% block _base_cssimport %}
    <link rel="stylesheet" href="{% static 'registry/css/base_auth.css' %}"/>
{% endblock %}

{% block __base_js_import %}
    <script type="text/javascript" src="{% static 'registry/coffee/measurements.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="hn-form wrapper">
        <div class="header">
            {% block header-content %}{% endblock %}
        </div>
        <div class="content">
            {% block inner-content %}{% endblock %}
        </div>
    </div>
{% endblock %}