{% extends 'registry/base/base_auth.html' %}

{% load rules %}
{% load staticfiles %}
{% load sass_tags %}
{% load registry_tags %}
{% load crispy_forms_tags %}

{% block title %}HealthNet | Home{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% sass_src 'registry/css/base_user.scss' %}"/>
    {% block calendar_cssimport %}{% endblock %}
{% endblock %}

{% block _base_jsimport %}
    <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'registry/js/base_user.js' %}"></script>
    {% block calendar_jsimport %}{% endblock %}
{% endblock %}

{% block content %}
    {% has_perm 'registry.inbox' hn_owner hn_visitor as has_inbox %}
<div id="left">
    <ul class="profile">
        <li>
            <div><img id="avatar" class="center" src="{% static "registry/img/logo.png" %}"/></div>
        </li>
        <li><p id="leftName"
               class="center">{{ hn_owner.first_name }} {{ hn_owner.middle_initial }} {{ hn_owner.last_name }}</p></li>
        <li><p id="leftDOB">{{ hn_owner.date_of_birth }}</p></li>
    </ul>
</div>

<div id="right">
    {% csrf_token %}
        <ul id="tab-links">
            <li><a href ="#tab1" rel="tab1" class="hn-tab">Personal</a></li>
            {% block userLinks %}{% endblock %}

            {% if has_inbox %}
            <li><a href ="#tab6" rel="tab6" class="hn-tab">Inbox</a></li>
            {% endif %}
        </ul>

        <div id="tab-content">
            <div id="tab1" class="tab" style="display: block;">
                <form id="form">
                    <label for="mi">First Name:</label>
                    <input id="mi" data-parsley-required data-field="first_name"
                           class="editable" type="text" value="{{ hn_owner.first_name }}"/>
                    <br>
                    <label for="mi">Middle Initial:</label>
                    <input id="mi" data-field="middle_initial"
                           class="editable" type="text" value="{{ hn_owner.middle_initial }}"/>
                    <br>
                    <label for="mi">Last Name:</label>
                    <input id="mi" data-field="last_name"
                           class="editable" type="text" value="{{ hn_owner.last_name }}"/>
                    <br>
                    <label for="mi">Date of Birth:</label>
                    <input id="mi" data-field="date_of_birth"
                           class="editable" type="text" value="{{ hn_owner.date_of_birth }}"/>
                    <br>
                    <label for="mi">Gender:</label>
                    <input id="mi" data-field="gender"
                           class="editable" type="text" value="{% labelify hn_owner.gender 'gender' %}"/>
                    <br>
                    <label for="mi">Address line one:</label>
                    <input id="mi" data-field="date_of_birth"
                           class="editable" type="text" value="{{ hn_owner.address_line_one }}"/>
                    <br>
                    <label for="mi">Address line two:</label>
                    <input id="mi" data-field="date_of_birth"
                           class="editable" type="text" value="{{ hn_owner.address_line_two }}"/>
                    <br>
                    <label for="mi">City:</label>
                    <input id="mi" data-field="date_of_birth"
                           class="editable" type="text" value="{{ hn_owner.address_city }}"/>
                    <br>
                    <label for="mi">State:</label>
                    <input id="mi" data-field="date_of_birth"
                           class="editable" type="text" value="{{ hn_owner.address_state }}"/>
                    <br>
                    <label for="mi">ZipCode:</label>
                    <input id="mi" data-field="date_of_birth"
                           class="editable" type="text" value="{{ hn_owner.address_zipcode }}"/>
                    <br>
                </form>
            </div>

            {% if has_inbox %}
            <div id="tab6" class="tab">
                <table id="inbox">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <div class="inboxHead">
                                    <p id="inboxTitle">{{ hn_owner.first_name }}&#8217;s Inbox</p>
                                    <div id="inboxSearch" class="inboxHead">Search:
                                        <input id="InboxSearchBar" type="text" placeholder="Search Inbox..">
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th id="check">
                                <div id="checkBox" class="inboxHead"><input type="checkbox" id="checkAll"/></div>
                            </th>
                            <th>
                                <div class="inboxHead">From</div>
                            </th>
                            <th>
                                <div class="inboxHead">Title</div>
                            </th>
                            <th>
                                <div class="inboxHead">Date</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for m in inbox %}
                        <tr data-message-id="{{ m.uuid }}" href="#tab7">
                            <td class="inboxBody"><input type="checkbox"/></td>
                            <td class="inboxBody">{{ m.sender }}</td>
                            <td class="inboxBody">{{ m.title }}</td>
                            <td class="inboxBody">{{ m.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div id="buttons">
                    <button id="newMessage">New Message</button>
                    <a href="#tab6"><button>Delete Message(s)</button></a>
                </div>
            </div>
            {% endif %}

            <div id="tab7" class="tab">
                <div id="button">
                    <a href="#tab6"><button>< Back</button></a>
                </div>
                <table id="message">
                    <tr>
                        <td class="messageHead">From: <span id="message_sender"></span></td>
                    </tr>
                    <tr>
                        <td class="messageHead">Date: <span id="message_date"></span></td>
                    </tr>
                    <tr>
                        <td class="messageHead">Subject: <span id="message_title"></span></td>
                    </tr>
                    <tr>
                        <td class="messageBody"><p id="message_content"></p></td>
                    </tr>
                </table>
            </div>
            {% block userContent %}{% endblock %}
        </div>

    <div id="msg-create-form-html" style="display: none">
        {% crispy form form.helper %}
    </div>
</div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        registry.forms.user.hook("{{ hn_owner.uuid }}");
    </script>
    {% block user_customjs %}{% endblock %}
{% endblock %}