{% extends 'registry/base/base_auth.html' %}

{% load rules %}
{% load staticfiles %}
{% load sass_tags %}
{% load registry_tags %}
{% load crispy_forms_tags %}

{% has_perm 'registry.inbox' hn_user hn_visitor as has_inbox %}
{% block title %}HealthNet | Home{% endblock %}

{% block cssimport %}
    <link rel="stylesheet" href="{% sass_src 'registry/css/base_user.scss' %}"/>
    {% block calendar_cssimport %}{% endblock %}
{% endblock %}

{% block _base_jsimport %}
    <script type="text/javascript" src="{% static 'registry/js/base_user.js' %}"></script>
    {% block calendar_jsimport %}{% endblock %}
{% endblock %}

{% block content %}

<div id="left">
    <ul class="profile">
        <li>
            <div><img id="avatar" class="center" src="{% static "registry/img/logo.png" %}"/></div>
        </li>
        <li><p id="leftName"
               class="center">{{ hn_user.first_name }} {{ hn_user.middle_initial }} {{ hn_user.last_name }}</p></li>
        <li><p id="leftDOB">{{ hn_user.date_of_birth }}</p></li>
    </ul>
</div>

<div id="right">
    {% csrf_token %}
        <ul id="tab-links">
            <li><a href ="#tab1" rel="tab1" class="hn-tab">Personal</a></li>
            {% block userLinks %}{% endblock %}
            {% if has_inbox %}
            <li><a href ="#tab6" rel="tab6" class="hn-tab">Inbox</a></li>
            {% endif %}
        </ul>

        <div id="tab-content">
            <div id="tab1" class="tab" style="display: block;">
                <form id="form">
                    <label>First Name:</label><input data-parsley-required data-field="first_name" class="editable"
                                                     type="text" value="{{ hn_user.first_name }}"/><br>
                    <label>Middle Initial:</label><input data-field="middle_initial" class="editable" type="text" value="{{ hn_user.middle_initial }}"/><br>
                    <label>Last Name:</label><input data-field="last_name" class="editable" type="text" value="{{ hn_user.last_name }}"/><br>
                    <label>Date of Birth:</label><input data-field="date_of_birth" class="editable" type="text" value="{{ hn_user.date_of_birth }}"/><br>
                    <label>Gender:</label><input data-field="gender" class="editable" type="text" value="{{ hn_user.gender }}"/><br>
                </form>
            </div>
            {% if has_inbox %}
            <div id="tab6" class="tab">
                <table id="inbox">
                    <thead>
                        <tr>
                            <th id="check"><div class="patientHead"><input type="checkbox" id="checkAll"/></div></th>
                            <th colspan="4">
                                <div class="patientHead">
                                    <p id="patientTitle">{{hn_user.first_name}}&#8217;s Inbox<p>
                                    <div id="patientSearch" class="patientHead">Search:
                                        <input id="InboxSearchBar" type="text" placeholder="Search Inbox..">
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr href="#tab7">
                            <td class="inboxBody"><input type="checkbox"/></td>
                            <td class="inboxBody">Dr. Blah Blahh</td>
                            <td class="inboxBody">Medical Exams</td>
                            <td class="inboxBody">March 20th</td>
                        </tr>

                        <tr href="#tab7">
                            <td class="inboxBody"><input type="checkbox"/></td>
                            <td class="inboxBody">Dr. Blah Blahh</td>
                            <td class="inboxBody">Medical Exams</td>
                            <td class="inboxBody">March 20th</td>
                        </tr>

                        <tr href="#tab7">
                            <td class="inboxBody"><input type="checkbox"/></td>
                            <td class="inboxBody">Dr. Blah Blahh</td>
                            <td class="inboxBody">Medical Exams</td>
                            <td class="inboxBody">March 20th</td>
                        </tr>
                    </tbody>
                </table>

                <div id="buttons">
                    <a href="#tab8"><button>New Message</button></a>
                    <a href="#tab6"><button>Delete Message(s)</button></a>
                </div>
            </div>

            <div id="tab7" class="tab">
                <div id="button">
                    <a href="#tab6"><button>< Back</button></a>
                </div>
                <table id="message">
                    <tr>
                        <td class="messageHead">From: Dr Blah</td>
                    </tr>
                    <tr>
                        <td class="messageHead">Date: March 20th</td>
                    </tr>
                    <tr>
                        <td class="messageHead">Medical Exams</td>
                    </tr>
                    <tr>
                        <td class="messageBody"><p>ksldjflksjdfklsjdkljfklsdjklfjskldlfsldjfs<p></td>
                    </tr>
                </table>
            </div>

            <div id="tab8" class="tab">
                {% crispy form form.helper %}
            </div>
            {% endif %}
            {% block userContent %}{% endblock %}
        </div>
</div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        registry.forms.user.hook();
    </script>
    {% block user_customjs %}{% endblock %}
{% endblock %}